<nav class="navbar navbar-expand-lg navbar-light1 bg-light1" style="background-color: #232f3e;">
        <a class="navbar-brand " style="color:white" href="#">Recipe Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a style="color:white" class="nav-link" href="#" (click)="onSelect('recipe')">Recipes </a>
            </li>
            <li class="nav-item">
              <a style="color:white" class="nav-link" href="#" (click)="onSelect('shopping-list')">shopping List</a>
            </li>
          </ul>
          <div class="">
              <ul class="navbar-nav ">
                <li class="nav-item dropdown mr-5">
                        <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#"> Save</a>
                          <a class="dropdown-item" href="#">Fetch Data</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
          </ul></div>
         
        </div>
      </nav>

<!-- <nav class="navbar navbar-default">

<div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

            <li><a href="#">Recipes</a></li>
            <li><a href="#">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toogle" role="button">Manage<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">save</a></li>
                    <li><a href="#">fetch</a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>
</nav> -->